body, h1, h2, h3, h4, table, tr, td {
    margin: 0;
    padding: 0;
}

#mine {
    margin: 50px auto;
}
.level {
    text-align: center;
    margin-bottom: 10px;
}
.level button {
    padding: 5px, 15px;
}